extends layout

block content
  h1= title
  p Welcome to #{title}
  if enabled
    p(style="background-color:green;padding:20px;") Feature is enabled
  else
    p(style="background-color:red;padding:20px;") Feature is disabled
