extends layout

block content
  h1= title
  p Welcome to #{title}
  if enabled
    p(style="background-color:green;") Feature is enabled
  else
    p(style="background-color:red;") Feature is disabled
