<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head"></head>
    <body>
        <div th:replace="fragments/layout :: header"></div>

        <div>
            <h4>UserId: <span th:text="${userId}" /></h4>
            <h4>SessionId: <span th:text="${sessionId}" /></h4>

            <div th:switch="${awesomeFeature}">
                <p  th:case="${true}" class="box box-border tc bg-green">enabled</p>
                <p  th:case="${false}" class="box box-border tc bg-red">disabled</p>
            </div>
        </div>
    </body>
</html>
